img {
    width: 200px;
    height: 200px;
    z-index: 3;
}
body {
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
body::before{
    content: "";
    position: absolute;
    top: 100px; /* Ajusta la posición según sea necesario */
    left: 50%; /* Ajusta la posición según sea necesario */
    transform: translateX(-50%);
    width: 800px; /* Ajusta el ancho según sea necesario */
    height: 600px; /* Ajusta el alto según sea necesario */
    background-image: url('/imagenes/subFondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}
body {
    text-align: center;
    margin-top: 130px;
    color: #B0B0B0;
    
    z-index: 3;

  }
  .boton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #3e8e41;
  }
  
  #informacion {
    margin-top: 20px;
  }
